<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
	.k1{
		
		text-align : center;
		background-color: rgba(255, 255, 255, 0.9);
	    padding: 20px;
	    border-radius: 10px;
	    box-shadow:
	    0 0 20px rgba(0, 0, 0, 0.3);
	    width: 300px; /* Adjust the width as needed */
	    margin: 0 auto; /* Center the form horizontally */
	    margin-top: 100px; /* Adjust the top margin as needed */
	}



</style>
<body>
	<h1>TuneHub starts</h1>
	<br />
	<div class='k1'>
	<a href="login">LOGIN</a>
	<br />
	<br>
	<br />
	<a href="register">REGISTER</a>
	</div>
</body>
</html>